<launch>
    <arg name="base_type"       default="$(env BASE_TYPE)" />
    <arg name="base_frame"       default="/base_footprint" />    
    <arg name="lidar_type"       default="$(env LIDAR_TYPE)" />  
    <arg name="open_rviz" default="false"/>
    <arg name="lidar_frame" default="base_laser_link"/>  
    <arg name="planner"  default="" doc="opt: dwa, teb"/>
    <include file="$(find slam_learning)/launch/rplidar_ros/launch/$(arg lidar_type).launch">
        <arg name="lidar_frame"            value="$(arg lidar_frame)"/>
    </include>
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
      args="-0.0515 0.0 0.18 -1.5708 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
    </node>
      <group unless="$(eval planner == '')">
    <include file="$(find robot_navigation)/launch/move_base.launch" unless="$(eval planner == '')">
        <arg name="planner"            value="$(arg planner)"/>
    </include>
      </group>
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_navigation)/rviz/slam.rviz"/>
    </group>
 </launch>
