<launch>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/rplidar"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="base_link"/>
  <param name="inverted"            type="bool"   value="false"/>  
  
  <arg name="base_frame"       default="/base_footprint" />    
  <arg name="lidar_frame" default="base_laser_link"/>  

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
            args="0.115 0.0 0.165 3.14159265 0.0 0.0 $(arg base_frame) $(arg lidar_frame) 20">
  </node>  

</launch>
