<launch>
  <arg name="lidar_frame" default="base_laser_link"/>
  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/rplidar"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <!--param name="serial_baudrate"     type="int"    value="256000"--><!--A3 -->
  <param name="frame_id"            type="string" value="$(arg lidar_frame)"/>
  <param name="inverted"            type="bool"   value="false"/>  
  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser"
         args="-0.0515 0.0 0.18 -1.5708 0.0 0.0 /base_footprint base_laser_link 20">
  </node>

</launch>
